accelerate==0.31
bitsandbytes==0.44.1
datasets==2.21.0
deepspeed==0.15.1
packaging==23.2
peft==0.13.0
safetensors==0.4.3
scipy==1.13.1
sentencepiece==0.2.0
tensorboard==2.16.2
toml==0.10.2
jsonlines==4.0.0
transformers==4.44.2
flash-attn==2.6.3
pyyaml
tqdm==4.66.4
triton==2.3.0
hqq==0.2.2
torch-optimi==0.2.1

# minimum Axolotl dependencies for what we use
addict==2.4.0
optimum==1.22.0
fschat==0.2.36
pynvml==11.5.3
evaluate==0.4.3
wandb==0.18.3
numba==0.59.1
colorama==0.4.6
trl==0.11.1
mlflow==2.16.2
termcolor==2.4.0
